# Requirements
# Primero deben instalar node.js, si ya lo tienen instalen las dependencias con =>
npm i 

# Luego deben instalar framer-motion y typewriter-effect con =>
npm install framer-motion typewriter-effect

# Luego deben instalar lucide-react con =>
npm install lucide-react

# Luego deben instalar react-icons con =>
npm install react-icons

npm install react react-dom

npm install mongodb

npm install mongoose
