@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Responsive text sizing */
@layer base {
  html {
    font-size: 14px;
    
    @screen sm {
      font-size: 16px;
    }
  }
}

/* Ensure images don't overflow */
img {
  max-width: 100%;
  height: auto;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
  body {
    @apply bg-black dark:bg-black;
    @apply text-white dark:text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply dark:text-white;
  }

  p {
    @apply dark:text-gray-300;
  }


}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.my-element {
  background-color: white;
  color: black;
}

.dark .my-element {
  background-color: black;
  color: white;
}